
.container-test {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-div {
  margin-top: 2rem;
  width: 20rem;
  padding: 2rem 1rem;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 6px 0px black;
}

.img-container {
  width: 70px;
  height: 70px;
  position: relative;
  margin: auto;
  margin-bottom: .7rem;
}

.img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.job {
  font-weight: bold;
  color: #e65b00;
}

.author, .job, .text {
  margin-bottom: .5rem;
}

.text {
  text-align: center;
}

.btnContainer {
  color: #e65b00;
  font-size: 1.5rem;
  width: 50px;
  display: flex;
  justify-content: space-around;

}

.randomBtn {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #e65b00;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
}

.randomBtn:hover {
  color: rgb(168, 160, 160);
  background-color:#c4560d;
}

.fa-solid {
  cursor: pointer;
}

.fa-solid:hover {
  color: rgb(28, 67, 104);
}

footer{
  text-align: center;
}