#overlay {
  display: flex;
  flex-flow: column;
  background-image: url(../../img/topimg.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 2%;
}

#overlay div#aboutus{
  border-radius: 20px;
  border-width: 10px;
  min-width: 200px;
  max-width: 90ch;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--body-a-trans);
  text-align: center;
}

#aboutus {
  top: 10vh;
  z-index: 0;
  margin: 0% 2%;
}

#overlay h1 {
  margin: 10% 5%;
  color: var(--body-b);
  text-shadow: 2px 2px 5px #000;
}

#overlay h2 {
  width: 90%;
  margin: 2% 5%;
  text-align: center;
}
