@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0%;
}

body {
  display: flex;
  align-content: flex-start;
  background: var(--body);
  flex-flow: row wrap;
  justify-content: center;
  z-index: var(--z-body);
}

.container{
  max-width: 1000px;
}

.body-a .container, .body-b .container{
  display: flex;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  flex-flow: wrap;
  padding: 2% 0%;

}


.body-a, .body-b {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.body-a{
  background-color: var(--body);
  color: var(--txt);
}

.body-b{
  background-color: var(--body2);
  color: var(--txt2);
}

.per50 {
  display: flex;
  min-width: 300px;
  max-width: 50%;
  flex-flow: column;
  justify-content: center;
  text-justify: center;
}
