body{
  /* NAV BAR */
  --nav: #1e3e76d0;
  --nav-txt: #fff;
  --nav-txt2: #fff;
  --nav-hover-bg: #141414;
  --slider: #000;
  --slider-round: #fff;
  --dm-round: 3px;
  /* BODY */
  --body: black;
  --txt: white;
  --txt2: black;
  /* FOOTER */
  --footer-bg: #1e3e76;
  --footer-txt: #000;
}
