@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: var(--body);
  z-index: 2;
}

.top-img {
  width: 100%;
}

.body-a{
  width: 90vw;
  margin: 2.5vh 5vw;
  background-color: var(--nav);
}

.body-b{
  width: 90vw;
  margin: 2.5vh 5vw;
  background-color: var(--nav);
}
