* {
  --nav-height: 60px;
  --checkbox-ani: 22px;
  --nav-back: #141414;
}

nav {
  clear: both;
  position: fixed;
  height: var(--nav-height);
  width: 100%;
  background-color: var(--nav);
  opacity: 1;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

nav.blur {
  z-index: 4;
}

nav .logo {
  float: left;
  color: var(--nav-txt);
  margin: 6.5px 20px;
  font-size: 2.5em;
}

nav ul {
  display: flex;
  float: right;
  max-width: 700px;
  justify-content: space-around;
  opacity: 1;
}

nav ul a, nav ul li{
  opacity: 1;
  float: right;
  margin: 10.5px 5px;
  border-radius: 3px;
  padding: 10px 10px;
  color: var(--nav-txt);
  text-transform: capitalize;
}

nav ul a.active, nav ul a:hover{
  background-color: var(--nav-hover-bg);
  color: var(--nav-txt2);
}

nav ul .switch{
  height: 30px;
  width: 55px;
  margin: 15px 10px 15px 0px;
  border-radius: 20px;
  background-color: var(--slider);
}

nav ul .switch .round{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin: 2.5px 0px 2.5px var(--dm-round);;
  background-color: var(--slider-round);
}

div.navback{
  height: var(--nav-height);
  width: 100%;
  background-color: var(--nav-back);
  color: var(--nav-back);
  z-index: 0;
}