img.top-img {
  max-width: 70%;
}

#sponsers {
  background-color: rgb(255, 255, 255);
}

div.sponsers-img {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  width: 50%;
}

#sponsers img {
  width: 300px;

}

@media (max-width:560px) {
  img.top-img {
    max-width: 90%;
  }
}