@media (max-width: 700px) {
  body {
    --nav-left: -100%;
  }

  body.show{
    --nav-left: 0%;
  }

  nav ul{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: fixed;
    width: 100%; 
    height: 100vh;
    background: var(--nav-back);
    top: var(--nav-height);
    padding: 0px;
    left: var(--nav-left);
    text-align: center;
    transition: all .5s;
    cursor: pointer;
  }

  nav ul a, nav ul li {
    margin: 10px auto;
  }

  .button{
    display: flex;
    float: right;
    flex-flow: column;
    justify-content: space-between;
    margin: 15px 15px;
    width: 45px;
    height: 30px;
  }
  
  .rectangle{
    background-color: var(--nav-txt);
    border-radius: 3px;
    width: 100%;
    height: 20%;
  }

  .body .container.rev{
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-flow: wrap-reverse;
    padding: 50px 0%;
  }
}