.body-a{
  border-radius: 25px;
  float: none;
  align: center;
  padding: 2%;
  height: 500px;
  margin: 3%;
  width: auto;
  background-color: var(--abg);
  transition: 0.25s;
}

.body-b{
  border-radius: 25px;
  align: center;
  float: none;
  padding: 2%;
  margin: 3%;
  height: 500px;
  width: 5% 95%;
  background-color: var(--bbg);
  transition: 0.25s;
}
.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;

}
/* sudip
.overlay-image {
  position: relative;
  width: 100%;
} */

/* Original image */
/* .overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
} */

/* Original text overlay */
.overlay-image .text {
  
  color: #fff;
  font-size: 50px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* 
typewriter animation */
.typewriter {
  font-family: Courier, monospace;
display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}