*{
  margin: 0;
  padding: 0;
}
#particles-js{
  background-size: cover;
  max-width: 100%;
  width: auto;
  background-image: url("https://th.bing.com/th/id/R.68cfae3ed50fff3db3d710003ecc631f?rik=twgIWVFUfq8a%2bg&pid=ImgRaw&r=0");
 
}