@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0%;
}

body {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: var(--body);
  z-index: 1;
  
}

.body-a{
  width: 100vw;
  padding: 2.5vh 0vw;
  background-color: var(--body-a);
  color: var(--body-a);
  background: #010101;
  background: -webkit-linear-gradient(top, #010101, #FFFFFF);
  background: -moz-linear-gradient(top, #010101, #FFFFFF);
  background: linear-gradient(to bottom, #010101, #FFFFFF);
}

.body-b{
  width: 100vw;
  padding: 2.5vh 3vw;
  background-color: var(--body-b);
  color: var(--body-b);
  background: #010101;

}

.row-wrap-around {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 40px;
  
  
}

div.part-a {
  border-radius: 20px;
  border-width: 10px;
  margin: 20px auto;
  max-width: 45vw;
  min-width: 250px;
  padding: 2%;
  background-color: var(--body-a);
  text-align: center;
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  background-image: url("../../img/topimg.jpeg");
}

div.part-a>h2{
  text-align: center;
  margin: 5px auto;
  color: var(--txt);
}

div.part-a img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}
/* newly typewriter */
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size: 10em;
  text-align:center;
  height:350px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
h1 .console-container #text{
  font-size: 50px;

}
/* mediaquery */
/* FORTABLETS */
@media screen and (max-width: 992px) {
  .console-container {
     height:550px;
    width:600px;
  }

  h1 .console-container #text{
    font-size: 30px;
  
  }
}
/* FORMOBILES */
@media screen and (max-width: 600px) {
  .console-container {
   height:650px;
   width:400px;
 }

 h1 .console-container #text{
   font-size: 20px;
 
 }
}
@media screen and (max-width: 395px){
  .console-container {
    height:600px;
    width:400px;
  }
  
  h1 .console-container #text{
    font-size: 20px;
  
  }
}
@media screen and (max-width: 380px){
  .console-container {
    height:450px;
    width:400px;
  }
 
  h1 .console-container #text{
    font-size: 20px;
  
  }
}