body{
  /* NAV BAR */
  --nav: #222222b4;
  --nav-txt: #fff;
  --nav-txt2: #fff;
  --nav-hover-bg: #3944da;

  /* BODY */
  --body: black;
  --body2: #3944da;
  --txt: white;
  --txt2: rgb(255, 255, 255);
  --z-body: 0;
  
  /* FOOTER */
  --footer-bg: #141414;
  --footer-txt: #fff;
}
