* {
  --nav-height: 60px;
  --checkbox-ani: 22px;
  --nav-back: #141414;
}

nav {
  height: var(--nav-height);
  width: 100%;
  opacity: 1;
}

nav.container {
  z-index: 10;
  position: fixed;
}

nav#junk {
  background-color: var(--nav);
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 10;
}

div#navbg {
  width: 100%;
  height: var(--nav-height);
}

nav img.logo {
  float: left;
  margin: 6px 10px 6px 20px;
  height: 48px;
}

nav ul {
  display: flex;
  float: right;
  max-width: 700px;
  justify-content: space-around;
  opacity: 1;
}

nav ul a, nav ul li{
  opacity: 1;
  float: right;
  margin: 10.5px 5px;
  border-radius: 3px;
  padding: 10px 10px;
  max-width: 300px;
  color: var(--nav-txt);
  text-transform: capitalize;
  text-decoration: none;
}

nav ul a.active, nav ul a:hover{
  background-color: var(--nav-hover-bg);
  color: var(--nav-txt2);
}
