.body-a{
  border-radius: 25px;
  align: center;
  padding: 2%;
  margin: 3%;
  width: auto;
  background-color: var(--abg);
  transition: 0.25s;
}

.body-b{
  border-radius: 25px;
  align: center;
  padding: 2%;
  margin: 3%;
  width: 5% 95%;
  background-color: var(--bbg);
  transition: 0.25s;
}

.map{
  padding: 1%;
}
