@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

body.lighttheme{


}
/* Main Navicaton Bar */
nav{
  background: #1a6fd6;
  height: 64px;
  width: 100%;
}

label.logo{
  color: black;
  font-size: 35px;
  line-height: 64px;
  padding: 0 2.5%;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 64px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #89b0e3;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 64px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: table-row;
}
@media (max-width: 952px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
      font-size: 16px;

  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all .5s
  }
  nav ul li{
    display: block;
    margin:50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover, a.active{
    background: #89b0e3;
    color: #13529e;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* Main Header-A */
.header-a{
  align: center;
  padding: 2%;
  width: 2% 96%;
  background-color: #8af3ff;
}
.header-b{
  align: center;
  padding: 2%;
  width: 2% 96%;
  background-color: #f7f0f0;
}
/* Main Footer */
.footer{
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #101010;
  color: white;
  text-align: center;
}

.darkmode-switch {
    font-size: 10px;
    letter-spacing: .2em;
    text-align: center;
    padding-top: 20px;
}
