@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Other Varaibles in JS */
  --bodybg: #141414;
  --navtxt: white;
  /* bodybg changes (Dont Remove: causes Flashing Effect in Reload)*/
  --footerbg: #101010;
}

body{
  background-color: var(--bodybg);
  color: var(--txt);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  transition: .5s;
}

/* Navicaton Bar Begin*/
nav{
  background-color: var(--navbar);
  height: 64px;
  position: fixed;
  transition: .5s;
  width: 100%;
}

label.logo{
  color: var(--navtxt);
  font-size: 35px;
  font-weight: bold;
  line-height: 64px;
  padding: 0px 40px 0px 25px;
}

nav ul{
  float: right;
  margin: 0px;
  margin-right: 50px;
  line-height: 64px;

}

nav ul li{
  display: inline-block;
  line-height: 64px;
  margin: 0 5px;
}

nav ul li a{
  border-radius: 3px;
  color: var(--navtxt);
  font-size: 16px;
  padding: 7px 13px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: var(--hoverbg);
  color: var(--navtxt);
  transition: .25s;
}

#check{
  display: none;
}
/* Navicaton Bar End*/

/* Dark Mode Icon */
svg.icondarkmode{
  cursor: pointer;
  fill: var(--navtxt);
  position: fixed;
  right: 20px;
  top: 18px;
  transform: rotateZ(var(--darkicon));
}
/* Dark Mode Icon Ends */

/* Body Begin*/
.body-top{
  font-size: 50px;
  height: auto;
  padding: 5% 0% 5% 0%;
  text-align: center;
  transition: 0.25s;
  width: auto;
}

.body-a{
  border-radius: 25px;
  background-color: var(--abg);
  height: auto;
  padding: 2%;
  margin: 3%;
  transition: 0.25s;
}

.body-b{
  background-color: var(--bbg);
  border-radius: 25px;
  height: auto;
  padding: 2%;
  margin: 3%;
  transition: 0.25s;
}

.clear-a {
  clear: both;
  border-radius: 25px;
  align: center;
  padding: 2%;
  margin: 3%;
  width: auto;
  height: auto;
  background-color: var(--abg);
  transition: 0.25s;
}

.clear-b{
  clear: both;
  border-radius: 25px;
  align: center;
  padding: 2%;
  margin: 3%;
  height: auto;
  background-color: var(--bbg);
  transition: 0.25s;
}

.mini50-a{
  align: center;
  background-color: var(--abg);
  border-radius: 25px;
  float: left;
  height: auto;
  margin: 1%;
  margin-left: 3%;
  padding: 2%;
  width: 46%;
  transition: 0.25s;
}

.mini50-b{
  align: center;
  background-color: var(--bbg);
  border-radius: 25px;
  float: left;
  height: auto;
  margin: 1%;
  margin-right: 3%;
  padding: 2%;
  transition: 0.25s;
  width: 46%;
}

/* Body End */

/* Footer Begin */
footer{
  padding: 1%;
  box-sizing: border-box;
  background-color: #011c39;
  text-align: center;
}

footer .clear{
  clear: both;
}

.float {
  width: 30%;
  float: left;
  padding: 1%;
}
/* Footer End */


@media (max-width: 952px){
/* Navicaton Bar Begin*/
  input[type="checkbox"]{
    height: 1px;
    width: 10px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="checkbox"]:after{
    height: 40px;
    width: 40px;
    margin-top: 2%;
    cursor: pointer;
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    font-size: 30px;
    color : var(--navtxt);
    transition: .5s;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--hoverbg);
    top: 64px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px;
    margin-left: 0px;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover, a.active{
    color: white;
    background: var(--navbar);
    transition: .5s;
  }

  #check:checked ~ ul{
    left: 0;
  }

  #check{
  display:table-row;
  position: absolute;
  right: 45px;
  top: 12.5px;
 }
 /* Navicaton Bar End*/

/* Dark Mode Icon */
  svg.icondarkmode{
    position: absolute;
    top: 18px;
    right: 65px;
    cursor: pointer;
  }
/* Dark Mode Icon Ends */

/* Body Begin*/
.body-top{
  font-size: 25px;
  height: auto;
  padding: 5% 0% 5% 0%;
  padding-top: 60px;
  text-align: center;
  transition: 0.25s;
  width: auto;
}

.mini50-a{
  margin-left: 0%;
  float: none;
  width: auto;
  clear: both;
}

.mini50-b{
  margin-right: 0%;
  margin-bottom: 2%;
  float: none;
  width: auto;
  clear: both;
}
/* Body End */
}
