@import url("https://fonts.googleapis.com/css?family=Audiowide");
*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: "Audiowide", sans-serif;
  background-color: #101010;
}
nav{
  background: black;
  height: 64px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 64px;
  padding: 0% 2%;
  font-weight: bold;
}
nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 64px;
  margin: 0 5px;
}
nav ul li a{
  color:white;
  font-size: 16px;
  padding:7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active, a:hover{
  background: #13529e;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 64px;
  margin-right: 40px;
  cursor: pointer;
}
/* @media(){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
} */

#check{
  display: none;
}
@media (max-width: 980px)
{
  .checkbtn{
    display:block;
  }
  ul{
    position: fixed;
    width: 30%;
    height:  100vh;
    background: #070707;
    top: 64px;
    left: 70%;
    text-align: right;
    transition: .1s;
  }
  nav ul li{
    display: block;
    margin: 0% 5%;
    line-height: 300%;
  }
  nav ul li a{
    font-size: 16px;
  }
  a:hover, a.active{
    background: black;
    color: #13529e;
  }
  #check:checked ~ ul{
    left:0;
  }
}
