@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --offWhite: #F6F6F6;
  --offBlack: #3B3C3D;
  --primaryBlue: #3572EF;
  --offBlue: #bbe8fa;
  --yellow: #F8AE00;
  --red: #F5233C;
  --ioeBlue: #253B80;
}

body {
  color: var(--offBlack);
}

#header {
  background-size: cover;
  background-repeat: no-repeat;
}
.icon 
{
  transition: .5s;
}

.nav-item {
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-item:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-item:after {
  content: "";
  position: absolute;
  height: 5.5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--offBlack);
  width: 0;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.nav-item:hover:after {
  width: 100%;
  background-color: var(--primaryBlue);
}
.nav-item.active:after {
  width: 100%;
}


.main {
  height: 100%;
  padding-top: 12%;
}
.highlight {
  color: var(--primaryBlue);
}
.testimonial-image {
  box-shadow:
    0 0 0 3px var(--offWhite),
    0 0 0 5px var(--primaryBlue);
  -moz-box-shadow:
    0 0 0 3px var(--offWhite),
    0 0 0 5px var(--primaryBlue);
  -webkit-shadow:
    0 0 0 3px var(--offWhite),
    0 0 0 5px var(--primaryBlue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}