body{
  /* NAV BAR */
  --nav: #222222b4;
  --nav-txt: #fff;
  --nav-txt2: #000;
  --nav-hover-bg: #ebaf3c;

  /* BODY */
  --body: black;
  --body2: #ebaf3c;
  --txt: white;
  --txt2: black;
  --z-body: 0;
  
  /* FOOTER */
  --footer-bg: #141414;
  --footer-txt: #fff;
}
