@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 800px;
  /* background: url(./circuit-board-3773755.svg); */
  background: linear-gradient(119.04deg, #1d1e4e 7.04%, #343578 68.66%);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
body {
    /* NAV BAR */


  font-family: "Inter", sans-serif;
}
/*   navigation starts here */

.main img {
  height: 70px;
  width: 70px;
  padding: 3px;
}

.main .logo {
  border: 2px solid white;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
}

.main .logoimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main nav {
  display: block;
  width: 100%;
  border: 2px solid green;
}

.main nav .heading h1 {
  position: absolute;
  top: 35px;
  font-weight: 600;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: "Kalam", cursive;
  color: white;
  font-size: 25px;
}

.main nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main nav ul li {
  display: inline-block;
  padding: 20px;
}

.main nav ul li a {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

.main nav ul li a:hover {
  text-decoration: underline;
  color: red;
  transition: 0.5s ease-in-out;
}

nav .menu-btn i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 767px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 767px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    position: fixed;
    z-index: 25;
  }

  nav ul {
    position: fixed;

    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.3s ease;
    z-index: 20;

    flex-wrap: wrap;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 10px 0;
    display: block;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  nav ul li a:active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

/*   navigation closed here */

.main .content {
  /*  border: 2px solid yellow;  */
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
  top: center;
  z-index: 10;
}

.main .content h1 {
  font-size: 7rem;
  font-weight: 1000;
  color: yellow;
  display: none;
}

.main .content h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
}

.main .content p {
  padding: 40px 60px;
  color: white;
  font-size: 20px;
}

.main .content button {
  height: 70px;
  width: 180px;
  border: 2px solid #d69e49;
  background: none;
}

.main .content button:hover,
button:active {
  border: 2px solid skyblue;
  /* box-shadow: 2px 2px 2px white; */
  background-color: skyblue;
}

.main .content button a {
  font-size: 30px;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.main .content button:hover a {
  color: black;
}

/* ...... section first........ */
/* president message section*/

section.first {
  height: 150px;
  background: white;
  display: flexbox;
  position: relative;
  justify-content: space-around;
  flex-shrink: 5px;
}

section.first .photo {
  width: 20%;
  border-radius: 50%;
  background-color: aqua;
  margin: 90px 150px;
  position: absolute;
}

section.first .message {
  top: 70%;
  left: 30%;
  position: absolute;
  transform: translate(0%, -20%);
  display: block;
  /* border: 1px solid red; */
}

section.first .message h1 {
  font-size: 30px;
  letter-spacing: 1.5px;
  color: #353675;
}

section.first .message h1 span {
  padding-left: 5px;
  color: #353675c6;
}

section.first .message p {
  margin-left: -20px;
  padding: 30px 80px 0 0px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: justify;
}

/*    section second  
.     work section starts here. */

section.second {
  height: 800px;
  background: linear-gradient(119.04deg, #1d1e4e 7.04%, #343578 68.66%);
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: column;
}

section.second .work-content {
  display: block;
  align-items: center;
  justify-content: center;
}

section.second .work-content h1 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
}

section.second .work-content p {
  font-size: 20px;
  color: yellow;
  margin: 10px 0;
  margin-top: 2rem;
}

section.second .work_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-top: 4rem;
}

section.second .work_btn button {
  margin: 20px 5px;
  width: 200px;
  height: 70px;
  border: 2px solid black;
  background: none;
  border-radius: 5px;
}

section.second .work_btn button:hover {
  background-color: skyblue;
  cursor: pointer;
  border-color: darkblue;
}

section.second .work_btn a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

section.second .work_btn button:hover a {
  color: red;
}

/* ....section third.......
.   about section saarts here.       */

section.third {
  height: 450px;
  background: white;
  display: block;
}

section.third .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.third .about h1 {
  font-size: 3rem;
  padding-top: 20px;
  font-weight: 900;
}

section.third .about .container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 300px;
  width: 1100px;
}

section.third .about .container .content1,
.content2 {
  /* border-right: 1px solid black; */
  width: 500px;
  display: flex;
  justify-content: center;
}

section.third .about .container .content1 .item1 {
  /* border: 1px solid green; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.third .about .container .content1 .item1 p {
  padding-left: 100px;
  text-align: justify;
}

section.third .about .container .content1 .item1 i {
  font-size: 50px;
}

section.third .about .container .content1 .item2 {
  /* border: 1px solid green; */
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

section.third .about .container .content1 .item2 i {
  padding: 60px;
  font-size: 50px;
}

section.third .about .container .content1 .item2 p {
  text-align: justify;
}

section.third .about .container .content2 .card2 {
  /* border: 2px solid red; */
  display: block;
}

section.third .about .container .content2 .item1 {
  /* border: 1px solid yellowgreen; */
  display: flex;
  height: 50%;
  align-items: center;
}

section.third .about .container .content2 .item1 i {
  font-size: 50px;
}

section.third .about .container .content2 .item1 p {
  padding-left: 60px;
  text-align: justify;
}

section.third .about .container .content2 .item2 {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row-reverse;
  height: 50%;
  align-items: center;
}

section.third .about .container .content2 .item2 i {
  font-size: 50px;
}

section.third .about .container .content2 .item2 p {
  padding-right: 60px;
}

/* ..... section  fourth.....
.   contact section starts here.     */

section.fourth {
  height: 250px;
  display: block;
  background: rgba(24, 3, 74, 0.907);
  color: white;
}

section.fourth header h1 {
  font-size: 50px;
  text-transform: uppercase;
}

section.fourth header {
  display: grid;
  place-items: center;
}

section.fourth .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

section.fourth .container .info {
  margin-left: 50px;
  display: block;
  width: 30%;
  border-radius: 5px;
}

section.fourth .container .info .phone,
.location,
.gmail {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

section.fourth .container .info .phone,
.location,
.gmail h3 {
  text-align: left;
  text-overflow: hidden;
  font-size: 15px;
}

section.fourth .container .info .phone h3 {
  padding-right: 140px;
}

section.fourth .container .info .gmail h3 {
  padding-right: 50px;
}

section.fourth .container .links {
  display: block;
  text-align: center;
}

section.fourth .container .links h1 {
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: red;
}

section.fourth .container .links .mainlink {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

section.fourth .container .links .mainlink a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px;
}

section.fourth .container .links .mainlink a:hover {
  color: white;
  text-decoration: underline;
  background-color: blue;
  border-radius: 5px;
}

section.fourth .icons {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

section.fourth .icons i {
  padding: 0 10px;
  font-size: 30px;

  color: blueviolet;
}

/*      respondive  media queries         */

@media screen and (max-width: 900px) {
  section.main {
    height: 600px;
    margin: 0;
  }

  .main .logo {
    height: 100px;
    width: 100px;
    left: 20px;
    border-radius: 0;
    background-color: lightgray;
    display: none;
  }

  .main .content {
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 150px;
    position: absolute;
    z-index: 10;
  }

  .main .content h1 {
    font-size: 5rem;
    font-weight: 700;
    color: skyblue;
  }

  .main .content h2 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: antiquewhite;
  }

  .main .content p {
    color: white;
    font-size: 10px;
  }

  .main .content button {
    background-color: #79dae8;
    height: 50px;
    width: 100px;
    border: 1px solid red;
  }

  .main .content button a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
  }

  /*      section first.... */

  section.first {
    border-top: 5px solid red;
    height: 600px;
    display: block;

    background-size: cover;
    background-position: center;
  }

  section.first .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  section.first #message {
    border: none;
    height: 200px;
    width: 80%;
    display: block;
  }

  section.first #message h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
  }

  section.first #message p {
    margin-top: 5px;
    text-align: left;
    font-family: sans-serif;
    color: white;
  }

  section.first img {
    margin-top: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  /* ....    section second..... */

  section.second .work-content p {
    font-size: 15px;
    padding: 0 20px;
  }

  section.second .work_btn {
    flex-direction: column;
    width: 80%;
    margin-top: 3rem;
  }

  section.second .work_btn button {
    margin: 20px 0px;
    width: 300px;
    height: 70px;
  }

  /*    section third.     */

  section.third .about p {
    margin: 0;
    font-size: 15px;
    text-align: center;
  }

  section.third button {
    width: 200px;
  }

  /*    section. fourth */

  section.fourth .container {
    display: block;
  }

  section.fourth .container .info {
    width: 100%;
    margin: 0;
    padding: 50px;
  }
}

/* our team  */

