body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  background: linear-gradient(98.19deg, #1d1e4e 41.35%, #353675 89.84%);
}
ul {
  margin-bottom: 0px;
}
img {
  width: 100%;
  overflow: hidden;
}

/*Pre Header CSS */
.pre-header {
  background-color: whitesmoke;
  height: 40px;
  font-size: 0px;
}
.pre-header ul li {
  display: inline-block;
}

.pre-header ul.info {
  padding-left: 0;
}
.pre-header ul.info li a {
  color: #afafaf;
  font-size: 18px;
  /* transition: all .3s; */
}

.pre-header ul.info li a .img {
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 8px;
}
.pre-header ul.social-media {
  text-align: right;
  margin-right: 5px;
}

.pre-header .social-media-links li {
  margin: 5px;
}

.pre-header ul.social-media-links li a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  /* transition: all .3s; */
  margin: 5px;
}
.pre-header ul.social-media li a:hover {
  background-image: url("..\images\logos\hover/color-facebook.svg");
}
#icon {
  filter: grayscale(100%);
}
#icon:hover {
  filter: grayscale(0%);
}
.linkedin-icon:hover {
  background-image: url("..\images\logos\hover/color-linkedin.svg");
}
.github-icon:hover {
  background-image: url("..\images\logos\hover/color-github.svg");
}
.mail-icon {
  height: 30px;
  width: 30px;
}
/*pre header css end*/

/* CSS Classes  */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start{
  justify-content: start;
}

.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}

.align-center {
  align-items: center;
}
.align-right{
  align-items: end;
}
.align-left{
  align-items: start;
}
.block {
  display: block;
}
.block-center {
  margin: 0 auto;
}

/*Screen Size CSS*/
@media only screen and (max-width: 600px) {
  .mail-icon {
    height: 30px;
    width: 30px;
  }

  .info span {
    font-size: 0;
  }
}
/*Screen Size CSS END*/

/*nav bar css start*/
/* .logo-top-left{
  height: 48px;
  width: 48px;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  background-color: whitesmoke;
  margin-left: 5px;
  margin-top: 5px;
} */
nav img.logo-top-left{
  float: left;
  margin: 6px 10px 6px 20px;
  height: 48px;
  width: 48px;
}

nav ul{
  display: flex;
  float: right;
  max-width: 700px;
  justify-content: space-around;
  opacity: 1;
}
/*nav bar css end*/