footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: var(--footer-bg1);
  justify-content: space-around;
  color: var(--footer-txt);
  text-align: center;
}

footer .col {
  display: flex;
  flex-direction: column;
  padding: 1%;
  min-width: 200px;
}

footer .col a:hover{
  color: rgb(5, 207, 214);
  
  
}

footer .col>h3 {
  padding: 5%;
}

footer a {
  color: var(--footer-txt);
  text-align: center;
  text-decoration: none;
}

footer>#end {
  width: 100%;
  padding: 1%;
  text-align: center;
}
