#particles-js{
  margin: 0%;
  padding: 0%;
  background-size: cover;
  width: 100vw;
  background-image: url("https://th.bing.com/th/id/R.68cfae3ed50fff3db3d710003ecc631f?rik=twgIWVFUfq8a%2bg&pid=ImgRaw&r=0");
  
}

.overlay-image .text {
  color: #fff;
  font-size: 50px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
/* typewriter animation */
.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
  overflow: hidden;
  word-wrap: break-word;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
  from { width: 0% }
  to { width: 90%  }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}