img.top-img {
  margin: 20vh 25vw;
  max-width: 50vw;
  max-height: 60vh;
}

@media (max-width:560px) {
  img.top-img {
    margin: 20vh 5vw;
    max-width: 90vw;
    max-height: 60vh;

  }
}

a#Events {
  margin: 0 auto;
  padding: 25px;
  background-color: rgb(237, 175, 60);
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}