body{
  /* OPACITY */
  --op-1-0: 1;
  --op-0-1: 0;
  /* NAV BAR */
  --nav: #141414d0;
  --nav-txt: #fff;
  --nav-txt2: #000;
  --nav-hover-bg: #ebaf3c;

  /* BODY */
  --body: black;
  --txt: white;
  --txt2: black;
  /* FOOTER */
  --footer-bg: #141414;
  --footer-txt: #fff;
}
